body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: ghostwhite!important;
}

header{
    text-align: center!important;
}

.photos{
    margin: auto;
    max-width: 500px;
    height: auto;
}

.avatar{
    margin: auto;
    max-width: 250px;
    height: auto;
}
