body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: ghostwhite!important;
}

header{
    text-align: center!important;
}

.photo{
    margin: auto;
    width: 800px;
    height: auto;
}
.recipe-img{
    margin: auto;
    width: 400px;
    height: auto;

}

.avatar{
    margin: auto;
    width: 250px;
    height: auto;
}
